<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Панель админа</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://localhost:8080"><img src="/images/project_icon.png" width="30" height="30"
                                                                  class="d-inline-block align-top"
                                                                  alt="">MyCompukters</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="http://localhost:8080/computer">Системные блоки</a>
                <a class="nav-item nav-link" href="http://localhost:8080/device">Аксессуары</a>
                <a class="nav-item nav-link" href="http://localhost:8080/basket">Информация</a>
            </ul>
        </div>
    </nav>
</header>
<main>

    <marginingAllSides>

        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4">

                    <h2>Системные блоки</h2>
                    <p>Добавление системных блоков</p>
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Добавить »</button>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">

                    <h2>Аксессуары</h2>
                    <p>Добавление аксессуаров</p>
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#secondModal">Добавить »</button>
                </div><!-- /.col-lg-4 -->

            </div>
        </div>

    </marginingAllSides>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавление системного блока</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="ram" class="col-form-label">Оперативная память:</label>
                            <input type="text" class="form-control" id="ram" name="ram">
                        </div>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="hdd" class="col-form-label">Жесткий диск:</label>
                                <input type="text" class="form-control" id="hdd" name="hdd">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="ssd" class="col-form-label">SSD:</label>
                                <input type="text" class="form-control" id="ssd" name="ssd">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="matherboard" class="col-form-label">Материнская плата:</label>
                                <input type="text" class="form-control" id="matherboard" name="matherboard">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="power_unit" class="col-form-label">Блок питания:</label>
                                <input type="text" class="form-control" id="power_unit" name="power_unit">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="system_unit" class="col-form-label">Системный блок:</label>
                                <input type="text" class="form-control" id="system_unit" name="system_unit">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="video_card" class="col-form-label">Видеокарта:</label>
                                <input type="text" class="form-control" id="video_card" name="video_card">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="price" class="col-form-label">Цена:</label>
                                <input type="text" class="form-control" id="price" name="price">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" th:attr="onclick=|createComputer()|">Отправить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="secondModal" tabindex="-1" aria-labelledby="secondModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="secondModalLabel">Добавление девайса</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="name_device" class="col-form-label">Имя девайса:</label>
                            <input type="text" class="form-control" id="name_device" name="name_device">
                        </div>
                        <div class="mb-3">
                            <label for="groupy" class="col-form-label">Тип девайса:</label>
                            <input type="text" class="form-control" id="groupy" name="groupy">
                        </div>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="secondPrice" class="col-form-label">Цена:</label>
                                <input type="text" class="form-control" id="secondPrice" name="secondPrice">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" th:attr="onclick=|createAccessory()|">Отправить</button>
                </div>
            </div>
        </div>
    </div>



</main>
<footer>
    <div>

    <h2>
        Заказчики
    </h2>
    <div  class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Пользователь</th>
                <th scope="col">Номер телефона</th>
                <th scope="col">Цена заказа</th>
                <th scope="col">Удалить</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${clients}" th:object="${client}">

                <td th:text="*{name}"></td>
                <td th:text="*{phone_number}"></td>
                <td th:text="*{price}"></td>

                <td>
                     <button class="btn btn-outline-success" data-bs-toggle="modal" th:attr="onclick=|setId(*{basketId})|"   data-bs-target="#thirdModal">Удалить</button>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="thirdModal" tabindex="-1" aria-labelledby="thirdModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="thirdModalLabel">Удалить клиента?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Не удалять</button>
                    <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" th:attr="onclick=|deleteClient()|">Удалить</button>
                </div>
            </div>
        </div>
    </div>

</div>
    <div>
        <h2>
            Девайсы
        </h2>
        <div  class="container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Название</th>
                    <th scope="col">Тип девайса</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Изменить</th>
                    <th scope="col">Удалить</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="accessories : ${accessories}" th:object="${accessories}">
                    <th scope="row" th:text="*{id}"></th>
                    <td th:text="*{name_device}"></td>
                    <td th:text="*{groupy}"></td>
                    <td th:text="*{price}"></td>
                    <td>
                        <button class="btn btn-outline-success" data-bs-toggle="modal" th:attr="onclick=|setDeviceId(*{id})|"  data-bs-target="#deviceModal">Изменить</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-success" data-bs-toggle="modal" th:attr="onclick=|deleteDeviceID(*{id})|"  data-bs-target="#deleteDeviceModal">Удалить</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="deviceModal" tabindex="-1" aria-labelledby="deviceModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deviceModalLabel">Добавление девайса</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="name_device" class="col-form-label">Имя девайса:</label>
                                <input type="text" class="form-control" id="device_name" name="device_name">
                            </div>
                            <div class="mb-3">
                                <label for="groupy" class="col-form-label">Тип девайса:</label>
                                <input type="text" class="form-control" id="groupy_device" name="groupy_device">
                            </div>
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="secondPrice" class="col-form-label">Цена:</label>
                                    <input type="text" class="form-control" id="device_price" name="device_price">
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" th:attr="onclick=|putDevice()|">Отправить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteDeviceModal" tabindex="-1" aria-labelledby="deleteDeviceModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteDeviceModalLabel">Удаление девайса</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" th:attr="onclick=|deleteDevice()|">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2>
            Системные блоки
        </h2>
        <div  class="container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">HDD</th>
                    <th scope="col">SSD</th>
                    <th scope="col">Оперативная память</th>
                    <th scope="col">Материнская плата</th>
                    <th scope="col">Системный блок</th>
                    <th scope="col">Блок питания</th>
                    <th scope="col">Видеокарта</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Изменить</th>
                    <th scope="col">Удаление</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="computer : ${computers}" th:object="${computer}">
                    <th scope="row" th:text="*{id}"></th>
                    <td th:text="*{hdd}"></td>
                    <td th:text="*{ssd}"></td>
                    <td th:text="*{ram}"></td>
                    <td th:text="*{matherboard}"></td>
                    <td th:text="*{system_unit}"></td>
                    <td th:text="*{power_unit}"></td>
                    <td th:text="*{video_card}"></td>
                    <td th:text="*{price}"></td>
                    <td>
                        <button class="btn btn-outline-success" data-bs-toggle="modal" th:attr="onclick=|setComputerId(*{id})|"  data-bs-target="#computerModal">Изменить</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-success" data-bs-toggle="modal" th:attr="onclick=|deleteComputerID(*{id})|"  data-bs-target="#deleteComputerModal">Удалить</button>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="deleteComputerModal" tabindex="-1" aria-labelledby="deleteComputerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteComputerModalLabel">Удаление системного блока</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" th:attr="onclick=|deleteComputer()|">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="modal fade" id="computerModal" tabindex="-1" aria-labelledby="computerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="computerModalLabel">Добавление системного блока</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="ram" class="col-form-label">Оперативная память:</label>
                                <input type="text" class="form-control" id="ramPut" name="ram">
                            </div>
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="hdd" class="col-form-label">Жесткий диск:</label>
                                    <input type="text" class="form-control" id="hddPut" name="hdd">
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="ssd" class="col-form-label">SSD:</label>
                                    <input type="text" class="form-control" id="ssdPut" name="ssd">
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="matherboard" class="col-form-label">Материнская плата:</label>
                                    <input type="text" class="form-control" id="matherboardPut" name="matherboard">
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="power_unit" class="col-form-label">Блок питания:</label>
                                    <input type="text" class="form-control" id="power_unitPut" name="power_unit">
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="system_unit" class="col-form-label">Системный блок:</label>
                                    <input type="text" class="form-control" id="system_unitPut" name="system_unit">
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="video_card" class="col-form-label">Видеокарта:</label>
                                    <input type="text" class="form-control" id="video_cardPut" name="video_card">
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="price" class="col-form-label">Цена:</label>
                                    <input type="text" class="form-control" id="pricePut" name="price">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" th:attr="onclick=|putComputer()|">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
</body>
<script src="/static/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
<script src="/static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="/static/js/jquery-3.2.1.slim.min.js" th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
<script src="/static/js/add-computer/create_computer.js" th:src="@{/js/add-computer/create_computer.js}"></script>
<script src="/static/js/buy_accessory/create_accessory.js" th:src="@{/js/buy_accessory/create_accessory.js}"></script>
<script src="/static/js/delete_client/delete_client.js" th:src="@{/js/delete_client/delete_client.js}"></script>

<script src="/static/js/put_device/put_device.js" th:src="@{/js/put_device/put_device.js}"></script>
<script src="/static/js/put_computer/put_computer.js" th:src="@{/js/put_computer/put_computer.js}"></script>

<script src="/static/js/delete_device/delete_device.js" th:src="@{/js/delete_device/delete_device.js}"></script>
<script src="/static/js/delete_computer/delete_computer.js" th:src="@{/js/delete_computer/delete_computer.js}"></script>


</html>