<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css"/>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:8080"><img src="/images/project_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">MyCompukters</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link " href="http://localhost:8080/computer">Системные блоки</a>
            <a class="nav-item nav-link" href="http://localhost:8080/device">Аксессуары</a>
            <a class="nav-item nav-link active" href="http://localhost:8080/basket">Информация</a>
        </ul>
    </div>
</nav>
</header>
<main>
    <p class="lh-sm">
    <h1>MyCompukters:</h1>
        Компания MyCompukters создавалась специально для мини курсового проекта, в котором имеются все, предоставленные в задании, требования.

    </p>
    <p class="lh-sm">
        <h1>Заказы:</h1>
    <p class="lh-sm">Заказы основываются следующим способом - Пользователь вводит личные данные (имя и номер телефона).
        Номер телефона требуется для того, чтобы в будущем с вами связаться по поводу вашего заказа - каким способом будет основана передача устройства и денежных средств.
    </p>
    </p>
</main>
<footer>

</footer>

</body>

</html>