<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Системники</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://localhost:8080"><img src="/images/project_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">MyCompukters</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                    <a class="nav-item nav-link active" href="http://localhost:8080/computer">Системные блоки</a>
                    <a class="nav-item nav-link" href="http://localhost:8080/device">Аксессуары</a>
                    <a class="nav-item nav-link" href="http://localhost:8080/basket">Корзиночка</a>
            </ul>
        </div>
    </nav>
</header>
<main>

</main>
<footer>

</footer>

</body>

</html>